* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 60px;
}

input {
  width: 100%;
  font-size: 1.2rem;
  color: grey;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
  padding: 30px;
  margin-bottom: 30px;
  width: fit-content;
  max-width: 500px;
  margin-right: 30px;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}